.sec_1{
    background-color: #2b8aaa;
    height: 100vh;
    padding-top: 8%;
}

.box{
    height: 500px;
    width: 400px;
    margin:auto;
    display: flex;
    justify-content: center;
}
.Header{
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 60vh;
    background-color: #2b8aaa;
    margin:auto;
    font-weight: bold;


}
.footer{
    display: flex;
    justify-content: center;

}
.Body{
    
    height: 50%;
    margin:auto;
}