@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f4;
  }
.sec_1{
    background-color: #2b8aaa;
    height: 105vh;
    padding-top: 12%;
}

.box2{
    height: 500px;
    width: 400px;
    margin:auto;
    display: flex;
    justify-content: center;
}
.Header1{
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 60vh;
    background-color: #2b8aaa;
    margin:auto;
    font-weight: bold;


}
.footer{
    display: flex;
    justify-content: center;

}
.Body1{
    
    height: 50%;
    margin:auto;
}



