@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Serif|Slabo+27px|Nunito');

$orange: #f07b3f;
$blue: #4f9da6;
$darkblue: #233142;
$light: #fafafa;
$red: #ff5959;
$dimlight: rgba(
  $color: #ffffff,
  $alpha: 0.8
);

body {
  font-family: 'Lato', sans-serif;
  background-color: #f4f4f4;
}

h2 {
  font-weight: bold;
}

.h4 {
    display: block;
    font-size: 2em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;   
}

.h5 { 
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;      
}

// section - head
#head {
    background-image: url("../../assets/img/teacher.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
    
  }

.head-grid {
      display: grid;
      padding-top: 10%;
      padding-left: 10%;
      grid-template-columns: 2fr 1fr;
}

.head-word {
      font-display: bold;
}

.head-text {
        text-align: justify;
        align-self: center;
        padding-left: 1em;
        $color:$light;
        display: flex;
        align-items: center;
        justify-content: center;
}

// section- benefit
#benefit {
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}

.benefit-grid {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      text-align: center;
    }
      img {
        width: 60%;
      }

.benefit-text {
      padding-top: 1.5em;
      margin-top: 0.5em;
}

// section-howto
#howto {
    background-image: url("../../assets/img/class.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 80vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .howto-grid {
    padding-top: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }

.text-center{
  padding-top:0.5em;
}

.howto-text {
    padding-top: 0.25em;
    padding-bottom: 0.5em;
}
  .howteaching {
    box-shadow: -3px -3px 2px rgba(0,0,0,0.4);
    border: 1px $light;
    border-radius: 1%;
    background-color: rgba(220,220,220,0.6);
  }

  .div {
      align-self: center;
       width: 60%;
        }

  .p {
      color: $light ;
      font-size: 1em;
        }
#FAQ {
      display: flex;
      font-family: 'nunito';
      h2 {
        padding-bottom: 0%;
      }
}

.question {
      text-align: center;
      font-weight: 900;
      padding-top:1em;
}

.faq-text {
    padding-bottom: 0.25em;
}

// Sigup
#SignUp {
  display: flex;
  background-color: $orange;
  min-height: 35vh;
  text-align: center;
  margin: auto;
  align-items: center;
  justify-content: center;
  h3{
    color: $light;
  }
  p{
    color: $dimlight;
    font-size: 1.25rem;
  }

}
